@import "_mixins";

.boton{
    color: white;
    background-color: goldenrod;
    @include bordesRedondeados;
}
.botonServicios{
    @extend .boton;
    &:hover{
        transform: rotate(5deg);
    }
}