.contacto{
    width: 500px;
    height: 700px;
    background-image: url(../Multimedia/Img/FondoContacto.png);  
    background-size: cover;
    border-radius: 10px;
    border: ridge 2px gray;
    padding: 40px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;    
    margin-top: 30px;    
}
.ubicacion{
    text-align: center;
    line-height: 1.6;
    .ubicacion__texto{
        text-decoration: underline;
    }
    .mapa:hover{
        transform: scale(1.1);
    }
}
@media (max-width:600px){
    .contacto{
        width: auto;
    }
    .mapa{
        width: auto;
    }
}