.logo img{
    width: 25%;
}
header{
    position: sticky;
    top: 0;
    z-index: 50;
}
nav{
    grid-area: nav;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    li{
        display: inline-block;
        width: 180px;
        position: relative;
        font-size: 20px;
        line-height: 1.5;
        a{
            text-decoration: none;
            color: goldenrod;
        }
    }
    ul{
        list-style: none;
        font-size: 0;
        background-color: white;
        ul{
            position: absolute;
            display: none;
            li{
                display: block;
            }
            li:hover ul{
                display: block;
                padding: 0px;
            }
        }
    }
}