.logo img{
    width: 25%;
}
header{
    position: sticky;
    top: 0;
    z-index: 50;
}
nav{
    grid-area: nav; /*Revisar esto*/
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    li{
        display: inline-block;
        width: 180px;
        position: relative;
        font-size: 20px;
        line-height: 1.5;
        a{
            text-decoration: none;
            color: goldenrod;
        }
    }
    ul{
        list-style: none;
        font-size: 0;
        background-color: white;
        }
    }
@media (max-width:567px){
    .logo{
        display: none;
    }
}
/*
.dropdown-item{
    color: goldenrod;
}*/