.contenedor{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav nav"
                         "portada portada"
                         "producto publicidad"
                         "footer footer"
.categorias{
    grid-area: categorias;
}
.tarjeta{
    grid-area: producto;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    .producto{        
        text-align: center;
        line-height: 1.5;
        .producto__nombre{
        text-decoration: underline;
        font-size: 20px;
        }
        .producto__descripcion{
        font-style: italic;
        font-size: 16px;
        }
        .producto__precio{
        font-weight: bold;
        font-size: 20px;
        }
        img:hover{
            transform: rotate(5deg);
        }
    img{
        width: 100%;
    }
    }   
}
.publicidad{
    grid-area: publicidad;
}