h4{
    font-weight: bold;
    padding-bottom: 8px;
}
h6 a{
    text-decoration: none;
    color: rgb(193, 50, 128);
}
.mensajeCelu{
    display: none;
}
.table{
    margin: 20px;
}
.contenedorServicios div{
    display: inline-block;

}
@media (max-width:1200px){
    .table{
        display: none;
    }
    t{
        display: none;
    }
    .mensajeCelu{
        display:contents;
    }
    .contenedorServicios{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .cardServicios{
        margin-top: 50px;
    }
}