*{
    padding: 0;
    margin: 0;
}
@import "_nav";
@import "_servicios";
@import "_contacto";
@import "_productos";
@import "_botones";
@import "_mixins";

@font-face{
    font-family: "Arapey";
    src: url(../Tipografia/Arapey-Regular.ttf)
}
body{
    background-color:antiquewhite;
    font-family:"Arapey";
}
.carousel-inner img{
    height: 70vh;
    margin: 0 auto;
    object-fit: cover;
}
.presentacion{
    border: 3px white;
    border-style: solid;
    margin: 40px 40px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.653), rgba(218, 165, 32, 0.4));
    p{
        font-size: 16px;
        font-style: italic;
    }
}
.serviciosInicio{
    text-align: center;
    .servicio{
        display: inline-block;
        text-align: center;
        margin: 30px;
        &:hover{
            transform: scale(1.1);
        }
        .servicio__titulo{
            text-align: center;
            margin-bottom: 20px;
        }
        .servicio__imagen{
            border: 10px double white
        }
    }
}
/*Y esto?*/
.contenido{
    font-size: 20px;
    font-style: italic;
    line-height: 1.5;
    width: 60%;
    margin: auto;
}
.categorias{
display: flex;
justify-content: space-between;
}

#redSocial{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 40px;
    position: sticky;
    bottom: 55px;
}
h1{
    text-decoration: underline;
}
#Pie{
    background-color:black;
    color: white;
    height: 150px;
    margin-top: 20px;
    .Pie__texto{
        text-align:center;
        font-size: 16px;
        font-style: italic;
        padding-top: 50px;
    }
    a{
        color: white;
    }
}
@media (max-width:768px){
    #redSocial{
        margin-right: 20px;
    }
    .Pie__texto{
        padding-left: 20px;
        padding-right: 20px;
    }
    footer div{
        display: none;
    }
}