*{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: "Arapey";
    src: url(../Tipografia/Arapey-Regular.ttf)
}
body{
    background-color:antiquewhite;
    font-family:"Arapey";
}

@import "_nav";
@import "_contacto";
@import "_productos";
@import "_botones";
@import "_mixins";

.presentacion{
    border: 3px white;
    border-style: solid;
    margin: 40px 40px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.653), rgba(218, 165, 32, 0.4));
    p{
        font-size: 16px;
        font-style: italic;
    }
}
.portada{
    grid-area: portada;
    display: block;
    text-align: center;
    height: 60%;
    margin-top: 20px;
}
.servicios{
    text-align: center;
    .servicio{
        display: inline-block;
        text-align: center;
        margin: 50px;
        &:hover{
            transform: scale(1.1);
        }
        .servicio__titulo{
            text-align: center;
            margin-bottom: 20px;
        }
        .servicio__imagen{
            border: 10px double white
        }
    }
}
.contenido{
    font-size: 20px;
    font-style: italic;
    line-height: 1.5;
    width: 60%;
    margin: auto;
}
#redSocial{
    position: fixed;
    bottom: 50px;
    right: 50px;
    &:hover{
        transform: scale(1.1);
    }
}
#Pie{
    background-color:black;
    color: map-get($colorBlanco, color);
    height: 150px;
    margin-top: 20px;
    .Pie__texto{
        text-align:center;
        font-size: 16px;
        font-style: italic;
        padding-top: 50px;
    }
    a{
        color:  map-get($colorBlanco, color);
    }
}