@font-face{
    font-family: "Arapey";
    src: url(../Tipografia/Arapey-Regular.ttf)
}
body{
    background-color:antiquewhite;
    font-family:"Arapey";
}
@import "_contacto";

.portada{
    grid-area: portada;
    display: block;
    text-align: center;
}
.servicios{
    text-align: center;
}
.servicio{
    display: inline-block;
    text-align: center;
    margin: 50px;
    &:hover{
        transform: scale(1.1);
    }
}
.servicio__titulo{
    text-align: center;
    margin-bottom: 20px;
}
.servicio__imagen{
    border: 10px double white
}
.contenido{
    font-size: 20px;
    font-style: italic;
    line-height: 1.5;
    width: 60%;
    margin: auto;
}
#redSocial{
    position: fixed;
    bottom: 50px;
    right: 50px;
    &:hover{
        transform: scale(1.1);
    }
}
#Pie{
    grid-area: footer;
    background-color:black;
    color:white;
    height: 150px;
}
.Pie__texto{
    text-align:center;
    font-size: 16px;
    font-style: italic;
    padding-top: 50px;
}