* {
  padding: 0;
  margin: 0;
}

.logo img {
  width: 25%;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 50;
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav;
  /*Revisar esto*/
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li {
  display: inline-block;
  width: 180px;
  position: relative;
  font-size: 20px;
  line-height: 1.5;
}

nav li a {
  text-decoration: none;
  color: goldenrod;
}

nav ul {
  list-style: none;
  font-size: 0;
  background-color: white;
}

/*Probando Media Querie*/
.contacto {
  width: 500px;
  height: 700px;
  background-image: url(../Multimedia/Img/FondoContacto.png);
  background-size: cover;
  border-radius: 10px;
  border: ridge 2px gray;
  padding: 40px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.ubicacion {
  text-align: center;
  line-height: 1.6;
}

.ubicacion .ubicacion__texto {
  text-decoration: underline;
}

.ubicacion .mapa:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contenedor {
  display: -ms-grid;
  display: grid;
  gap: 5px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "nav nav" "portada portada" "producto publicidad" "footer footer";
}

.tarjeta {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: producto;
  width: 350px;
  background-color: white;
  border-radius: 10px;
}

.tarjeta .producto {
  text-align: center;
  line-height: 1.5;
}

.tarjeta .producto .producto__nombre {
  text-decoration: underline;
  font-size: 20px;
}

.tarjeta .producto .producto__descripcion {
  font-style: italic;
  font-size: 16px;
}

.tarjeta .producto .producto__precio {
  font-weight: bold;
  font-size: 20px;
}

.tarjeta .producto img:hover {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.tarjeta .producto img {
  width: 100%;
}

.publicidad {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: publicidad;
}

.boton, .botonServicios {
  color: white;
  background-color: goldenrod;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

.botonServicios:hover {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

@font-face {
  font-family: "Arapey";
  src: url(../Tipografia/Arapey-Regular.ttf);
}

body {
  background-color: antiquewhite;
  font-family: "Arapey";
}

/*
.carousel-inner img{
    height: 50vh;
    margin: 0 auto;
    object-fit: cover;
}*/
/*
.contenedorPrincipal{

}*/
.presentacion {
  border: 3px white;
  border-style: solid;
  margin: 40px 40px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.653)), to(rgba(218, 165, 32, 0.4)));
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.653), rgba(218, 165, 32, 0.4));
}

.presentacion p {
  font-size: 16px;
  font-style: italic;
}

.portada {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: portada;
  display: block;
  text-align: center;
  height: 60%;
  margin-top: 20px;
}

.servicios {
  text-align: center;
}

.servicios .servicio {
  display: inline-block;
  text-align: center;
  margin: 50px;
}

.servicios .servicio:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.servicios .servicio .servicio__titulo {
  text-align: center;
  margin-bottom: 20px;
}

.servicios .servicio .servicio__imagen {
  border: 10px double white;
}

.contenido {
  font-size: 20px;
  font-style: italic;
  line-height: 1.5;
  width: 60%;
  margin: auto;
}

.portada img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#redSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 50px;
}

#Pie {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  /*Revisar esto*/
  background-color: black;
  color: white;
  height: 150px;
  margin-top: 20px;
}

#Pie .Pie__texto {
  text-align: center;
  font-size: 16px;
  font-style: italic;
  padding-top: 50px;
}

#Pie a {
  color: white;
}
/*# sourceMappingURL=style.css.map */